body { 
    margin: 0px;
    width: 100%;
    height: 100%;
}

/*navigation*/
.nav-bar ul {
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-family: "Rochester";
    font-size: 36px;
    border-bottom: solid #9BBBF9;
}

/*navigation bullets*/
.nav-bar li {
    list-style-type: none;
}

.nav-bar .left-logo {
   display: flex;
}

/*navigation links*/
.nav-bar a {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    text-decoration: none;
    color: black;
}

/*general hover*/
a:hover {
    color: #9BBBF9;
}

.nav-bar .right-logo {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
}

.nav-bar input[type=search] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 25px;
    font-family: "Rochester";
    border: none;
}

.dropbtn {
    border: none;
    font-family: "Rochester";
    font-size: 36px;
    margin-top: 15px;
}

.dropbtn:hover {
    color: #9BBBF9;
}

/*drop options holder*/
.drop-content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*drop option links*/
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*drop options on hover*/
.drop-content a:hover {
    background-color: #9BBBF9;
}

.dropdown:hover .drop-content{
    display: block;
}
   
.logo {
   position: absolute;
   top: 0px;
   left: 600px;
   margin-top: 0px;
   padding-top: 0px;
}

/*heading*/
.header{
    font-family: "Rochester";
    font-size: 40px; /*changed this along with nav bar removed 'blog' after explore*/
    margin-left: 15px;
    margin-top: 50px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    /* background-color: #9BBBF9; */
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/*content*/
div.fashion-content {
    width: 100vw; /*reintroduced this and the height*/
    height: 100vh;
    display: grid;
    
    grid-template: repeat(2, 1fr) 120px / repeat(3, 1fr);

    gap: 10px;
    padding: 10px;
    box-sizing: border-box; 
}

/*inner content div*/
.fashion-content div {
    padding: 5px;
    font-family: 'Work Sans', sans-serif;  
}

.fashion-content a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    
}

.fashion-content a:hover {
    color: #9BBBF9;
    background-color: #f5f5f5;
    transition: all 1.5s ease;
}

/*first content - aleali may*/
div.content-large-a {
    grid-row-start: 1;
    grid-row-end: span 2; /* alt to specify a grid line number instead of line "4" it spans 2 cells*/
  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://instagram.fceb2-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/148237206_482832729788366_2202125295070073318_n.jpg?tp=1&_nc_ht=instagram.fceb2-2.fna.fbcdn.net&_nc_cat=102&_nc_ohc=Lkz_yl0qcyMAX9KYtBA&ccb=7-4&oh=fc78497ab5f7e7a1aa68489fc83bd4f5&oe=607BAC6F");
    margin-left: 5px;
    -webkit-transition: opacity 0.3s;
    opacity: 0.95;
}
  
 /*second content - nails*/
 div.content-large-b {
    grid-row-start: 1;
    grid-row-end: span 2; /* alt to specify a grid line number instead of line "4" it spans 2 cells*/

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://scontent-arn2-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/131906719_871660256928312_2906475276136355344_n.jpg?tp=1&_nc_ht=scontent-arn2-2.cdninstagram.com&_nc_cat=100&_nc_ohc=spsF6HEOwKkAX8-au6h&ccb=7-4&oh=4df5766060e984e3af4b4272075ea06b&oe=607EE95D&_nc_sid=4f375e");
    -webkit-transition: opacity 0.3s;
    opacity: 0.95;
}
  
 /*third content - editorial makeup*/
 div.content-small-c {
    margin-right: 20px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.shopify.com/s/files/1/0100/9257/6804/articles/unnamed_e55e8200-0979-41b6-b8bb-6c36d4d821ce_1512x.jpg?v=1601673578");
    background-position: 50% 50%;
    -webkit-transition: opacity 0.3s;
    opacity: 0.95; 
}
  
 /*fourth content - nike dunks*/
 .content-small-d {
    margin-right:20px;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.nakedcph.com/images/38907/hero.jpg");
    background-position: 50% 50%;
    -webkit-transition: opacity 0.3s;
    opacity: 0.95;   
}
  
 /*when you hover on the content*/
 div.content-large-a:hover, div.content-large-b:hover, div.content-small-c:hover, div.content-small-d:hover {
    cursor: pointer; 
    opacity: 1.0;
}

/*about section*/
div.about-me {
    font-family: 'Rochester'!important;
    font-weight: 200;
    font-size: 30px;
    text-align: center;

    padding-top: 3px;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 5px!important;
    border: #f5f5f5;
    background-color: #f5f5f5;

    grid-column-end: span 3;
}

/*about paragraph*/
div.about-me p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px!important;
    font-weight: 300;
    letter-spacing: none!important;

    margin-bottom: 0px;
    margin-top: 5px!important;
    text-align: center;
    padding: 0px 10px 10px 10px;
}
   
footer {
    background-color: #F1F1F1;
    color: black;
    text-align: center;
    padding: 10px;
    border-top: #9BBBF9 solid;
    border-bottom: #9BBBF9 solid;
}

footer p {
    font-family: "Rochester";
    font-size: 20px;
    letter-spacing: 0px; /*added this*/
}
   
input[type=search], select, textarea, input[type=email] {
    width: 100%; /*changed*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    cursor: auto; /*changed*/
    letter-spacing: 1px; /*changed*/
}
   
