body{
   margin: 0px;
   width: 100%;
   height: 100%;
  }
  
  .nav-bar ul{
   background-color: #f1f1f1;
   display: flex;
   justify-content: space-between;
   margin-top: 0px;
   font-family: "Rochester";
   font-size: 36px;
   border-bottom: solid #9BBBF9;
  }
  .nav-bar li{
   list-style-type: none;
  }
  .nav-bar .left-logo {
  display: flex;
  }
  .nav-bar a{
   display: flex;
   justify-content: space-around;
   padding: 16px;
   text-decoration: none;
   color: black;
  }
  a:hover{
   color: #9BBBF9;
  }
  .nav-bar .right-logo {
   padding: 6px;
   margin-top: 8px;
   margin-right: 16px;
  }
  .nav-bar input[type=text]{
   float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 25px;
    font-family: "Rochester";
    border: none;
  }
  .dropbtn{
   border: none;
   font-family: "Rochester";
   font-size: 36px;
   margin-top: 15px;
  }
  .dropbtn:hover{
   color: #9BBBF9;
  }
  .drop-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .drop-content a {
   color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .drop-content a:hover {background-color: #9BBBF9;}
  .dropdown:hover .drop-content{
   display: block;
  }
  .logo{
   position: absolute;
   top: 0px;
   left: 600px;
   margin-top: 0px;
   padding-top: 0px;
  
  }
  footer{
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 10px;
     border-top: #9BBBF9 solid;
     border-bottom: #9BBBF9 solid;
  }
  footer p{
   font-family: "Rochester";
   font-size: 20px;
  }  
 h1 {
   color: #9BBBF9;
   font-family: "Rochester";
   font-size: 50px;
   text-align: center;
   font-weight: lighter;
   padding: 10px;
}
 div#images {
   background-color: white;
   overflow: hidden;
   width: 90%;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
 img {
   padding: 10px;
}
 
div.categories {
   float: left
}
 
.categories a {
    text-decoration: none;
    color: black;
    font-family: "Rochester";
    font-size: 30px;
}
 
div.categories a:hover {
    color: #9BBBF9;
}
 
#locallang {
   float:left;
}
